/* Task 2: Colors */

$rgb: #3D3D3D;
$second_color: #6D6D6D

body {
  color: #3D3D3D;
  background-color: #6D6D6D;
}

p {
  color: #3D3D3D;
}

h2 {
  background-color: #6D6D6D;
}

// #3D3D3D is a combination of red, green and blue
// All combos include red, green, blue apparently