/* Task 2: Colors */

$rgb: #3D3D3D;
$second_color: #6D6D6D;

body {
  color: $rgb;
  background-color: $second_color;
}

p {
  color: $rgb;
}

h2 {
  background-color: $second_color;
}

// #3D3D3D is a combination of red, green and blue
// All combos include red, green, blue apparently