/* Task 8: Margin mixin */

@mixin marginmix($left, $right) {
   margin-left: $left;
   margin-right: $right;
}

@mixin divmix($left, $right) {
   margin-left: $left;
   margin-right: $right;
}

body {
   @include marginmix(10px, 10px);
}

div {
   @include divmix(15px, 15px);
}
